h1 {
    font-size:50px; 
    color:blue; 
    font-family:Verdana;
}

h2 {
    font-size:30px; 
    color:red; 
    font-family:Arial;
}

p {
    font-size:20px; 
    color:yellow; 
    font-family:Arial; 
    background: black;
}